/* Universal Selector */
* {
  margin:0;
  padding:0;  
}

/* Element Selectors */
body {
  position: relative;
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px;
  background-color: #fff7f7;
  color: darkorange;
}

h1,
h2 {
  margin: 20px;
}

main {
  padding: 60px 0;
}

li {
  display: inline;
  padding: 0px 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 50px;
}

header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
  background-color: #e08f0c;
}

header {
  position: relative;
  border-bottom: 10px solid #ece7e7;
  background-color: #070707;
}

footer {
  position: absolute;
  margin-top: 0;
  bottom: 0;
  border-bottom: 10px solid #0b0b0b;
  background-color: #070707;
  color: #FDF8F5;    
}

figure {
  margin-bottom: 40px;
}

img {
  display: block;
  margin: 20px auto;
}

section {
  margin-bottom: 0;
  padding: 20px 10px 40px 10px;
  border-top: 3px solid #070707;
  background-color:  black;
}


label {
  display: inline-block;
  width: 100px;
  background-color: #ece7e7;
}
  
input, 
textarea {
  box-sizing: border-box;
  width: 300px;
  border: 1px solid #ffffff;
}

 
/* Class Selectors */
.text-center {
  text-align: center;
  font-style: italic;
}

.text-right {
  text-align: center;
}

.band-image {
  width: 800px;
  height: auto;
}

figcaption ul li {
  display: block;
  text-align: center;
}

.h2-songs {
  text-align: center;
}

.tmom-album {
  text-align: center;
}

